<!DOCTYPE html>

<html>
   <head>
      <title>Timestamp Microservice | freeCodeCamp.org</title>
      <link rel="shortcut icon" href="https://cdn.freecodecamp.org/universal/favicons/favicon-32x32.png" type="image/x-icon"/>
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
      <link href="style.css" rel="stylesheet" type="text/css">
   </head>

   <body>
    <h1>FCC API Project: Timestamp Microservice</h1>
    <hr />
    <div class="container">
      <h3>Example Usage:</h3>
      <ul>
        <li><a href="api/timestamp/">https://project1-timestamp-microservice.glitch.me/api/timestamp/</a></li>
        <li><a href="api/timestamp/2021-12-25">https://project1-timestamp-microservice.glitch.me/api/timestamp/2021-12-25</a></li>
        <li><a href="api/timestamp/1010101">https://project1-timestamp-microservice.glitch.me/api/timestamp/1010101</a></li>
        <li><a href="api/timestamp/woof">https://project1-timestamp-microservice.glitch.me/api/timestamp/woof</a></li>
      </ul>

      <h3>Example Output:</h3>
      <p>
        <code>{"unix":1010101,"utc":"Thu, 01 Jan 1970 00:16:50 GMT"}</code>
      </p>
    </div>
    <div class="footer">
      <p>
        By <a href="https://www.freecodecamp.org/">freeCodeCamp.org</a>
      </p>
    </div>
  </body>
</html>
